body{
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: left;
    font-size: 20px;
    color: black;
}

.topbar {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.topbar .title {
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      padding: 0 20px;
      line-height: 60px;
      /* Ensures the title is vertically centered */
    }

.topbar .nav {
    display: flex;
    flex: 1;
}

.topbar .nav a {
    color: #fff;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 17px;
    transition: background 0.2s;
}

.topbar .nav a:hover {
    background: #34495e;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

.login-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.login-btn button {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn button:hover {
    background-color: blue;
}

.login-btn a {
    text-decoration: none;
    color: white;
}